@page
@model FoodChainWebApp.Views.LeaderBoardEntries.UnityLoginModel;
@{
    <h4>Search on Leaderboard</h4>
    <hr />

    void RenderName(string name)
    {
        <p>Name: <strong>@name</strong></p>
    }

    RenderName("test");
  



}